
.page {
  background-color: aliceblue;
}
header {
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1em;
  background-color: rgb(169 169 169 / 50%);
}

footer {
  background-color: rgb(169 169 169 / 50%);
  font-family: 'Noto Serif', serif;
  display: grid;
  align-items: center;
  justify-content: center;
  display: flex;
}

header img {
  border-left: 50%;
  max-width: 160px;
  margin: .75em;
  border-radius: 10px;
  box-shadow: -15px 7px 30px rgb(95, 93, 93);
}

h1 {
  
  align-self: center;
  font-size: 1.5rem;
  margin: .15rem;
  font-family: 'Oswald', sans-serif;
  text-shadow: 1px 1px 0 #ccc, 1px 1px 0 #ccc, 1px -1px 0 #ccc, -1px -1px 0 #ccc;
  grid-row: 2/3;
}

h2 {
  text-align: center;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  border-bottom: 1px solid rgb(70, 70, 70);
  margin-bottom: .5rem;
}

ul {
  position: relative;
  text-align: center;
}

li {
  list-style: none;
}

body {
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  height: 100%;
}

header, main, footer {
  margin: auto;
  padding: .75rem;
  max-width: 45rem;
  border-radius: 5px;
}















