
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: .5em;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: rgb(85, 107, 47, 0.5);
}

header,
footer {
    color: whitesmoke;
	background-color: #46494C;
	align-items: center;
	justify-content: center;
	padding: .75em;
}

header {
	display: grid;
	grid-template-columns: 10% 27% 43% 20%;
	grid-template-rows: 5rem 2.5rem;
}

footer {
	display: flex;
	flex-flow: column;
}

header,
nav,
main,
footer {
	margin: 0 auto;
}

h1, p {
    margin: 0 2vw;
}

.logo {
	padding: .5em;
	border-radius: 50%;
	width: 70px;
}

nav {
	grid-column: 1/2;
	grid-row: 1/2;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;    
    color: #fff;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid rgba(0,0,0,0.5);

}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.4);
    font-weight: 600;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
	position: absolute;
	background-color:#bbb;
	width: 80%;
	text-align: center;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

div a {
	padding-left: 10px;
}


.hero {
	background: url("images/istockphoto7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 200px;	
	position: relative;
}

.overlay {
	position: absolute;
	bottom: 25px;
	right: 50px;
	background-color: rgb(107, 142, 35, 0.6);
	border-radius: 15px;
}

.spotlights {
	padding: 5px;
	grid-row: 5/6;
}

.events {
	grid-row: 2/3;
}

.newrelease {
	grid-row: 4/5;
	height: fit-content;
}

main section {
	border: 3px solid #555;
	margin: .5em;
	padding: 1em;
	background-color:rgb(197, 197, 197);
	box-shadow: 5px 10px rgba(0,0,0,0.1);
}

.headings {
	grid-column: 3/4;
	grid-row: 1/2;
}

.m {
	font-size: 0.8rem;
}

.info {
	text-align: center;
	padding: .2em;
}

.aboutMe {
	border-top: 1px solid rgba(0,0,0,0.3);
	padding: 1em;
}

.join {
	display: none;
	position: relative;
}

.spotlight3 {
	display: none;
}

.date {
	margin: 0rem;
	border: 1px solid #bbb;
	padding: 0.25rem;
	background-color: rgba(0,0,0,0.4);
	color: #fff;
	text-align: center;
	max-width: 100%;
	grid-column: 1/5;
	grid-row: 2/3;
	border-radius: .5vw;
}
 .media {
	grid-column: 4/5;
	grid-row: 1/2;
	max-width: 5vw;
 }


 h3 {
	text-align: center;
	color: black;
	text-shadow: #fff 1px 1px;
 }

 .hero h3 {
	color: #fff;
	text-shadow: black 1px 1px;
	
 }