@media only screen and (min-width: 900px) {


/* Footer Shift */

footer {
    display: flex;
    background-color: rgb(102, 205, 170);
    padding: 2vw;
    min-height: 100px;
    text-align: left;
    align-items: center;
    justify-content: center;

}

footer div {
    padding: 1.5vw;
}

}