@media only screen and (min-width: 900px) {


    nav {
        grid-row: 4/5;
        grid-column: 1/5;
        width: fit-content;
        background-color: rgba(255, 255, 255, 0.2);
    }

    nav button {display: none;}

    nav ul#primaryNav {
        display: flex;
    }

    h1 {
		font-size: 3rem;
	}

    .media {
        display: inline-flex;
    }

	nav ul li a {
        padding: .5rem 1rem;

    }

	.home {
        display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: 20vh 20vh 20vh;
	}


    
    .hero_img_box {
        position: relative;
        grid-column: 2/3;
		grid-row: 1/3;
    }

    .newrelease {
        display: block;
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .join {
        display: block;
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .spotlights {
        grid-column: 3/4 ;
        grid-row: 1/5;
        grid-template-columns: 1fr;
        
    }
    .spotlight3 {
        display: none;
    }

    .event {
        grid-column: 1/2;
        grid-row: 1/2;

    }

    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }
	.spotlight3 {
		display: block;
	}

	footer {
		flex-flow: row;
	}




















}