
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: .5em;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}

header,
footer {
    color: whitesmoke;
	background-color: #46494C;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 2em;
}

header,
nav,
main,
footer {

	margin: 0 auto;
}

h1 {
    color: whitesmoke;
	font-size: 2rem;
}

p {
	padding: .5rem;
}

nav {
	background-color: #1985A1;
	text-align: center;
	box-shadow: 0 0 30px #333;
	display: flex;
	flex-direction: column;

}

main {
	background-color: #DCDCDD;
	text-align: center;
	box-shadow: 0 0 30px #333;
	flex-direction: column;
    padding: 20px;
	min-height: 250px;
	justify-content: center;
}

img#palette {
	max-width: 100%;
	height: auto;
}

div img {
	padding: .5em;
	border-radius: 50%;
}

nav div {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 15px;
	text-decoration: none;
    text-shadow: 1px 1px 0 rgb(59, 59, 59), 1px 1px 0 rgb(59, 59, 59), 1px -1px 0 rgb(59, 59, 59), -1px -1px 0 rgb(59, 59, 59);
	font-size: 0.9rem;
}

nav a:hover {
	background-color: #4c5c68;
}

a.current {
    color: #E57255;
	text-shadow: 0px;
}