@media only screen and (min-width: 400px) {

    /* Make Logo Bigger On Larger Screens */

    header img {
        height: 5em;
    }

    /* Fix Formatting */

    body {
        padding: 1em;
        margin: 2em;
    }

    main h1 {
        font-size: 3em;
    }

    .aboutUs p {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}